header {
    background-color: #3f4646;
    width: 100%;
    color: rgb(17, 15, 15);
    justify-content: space-between;
    align-items: center;
}
header h1 {
    font-size: 50px;
}
.System {
    display: flex;
}

.logoSystem{
    width: 5%;
    /* display: inline-block; */
}

.logoSystem{
    width: 10%;
    height: 10%;
    margin: 0 auto;
}
.nameSystem{
    padding: 10px;
    width: 30%;
    height: 30%;
    margin: 0 auto;
}
li {
    margin-left: 5vw;
    cursor: pointer;   
}
li:hover {
    background-color: blue;
    /* font-size: large; */
    color: aliceblue;
}

.chick {
    background-color: blue;
    font-size: large;
    color: aliceblue; 
}