  /* Position text in the middle of the page/image */
  .bg-text {
    background-image: url("../../images/background.png");
    background-size: cover;
    background-position: center;
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: rgb(255, 255, 255);
    font-weight: bold;
    border: 3px solid #f1f1f1;
    margin: 0 auto;
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
  }
  .logo{
    margin: 0 auto;
    width: 40%;
    padding: 20px;
    text-align: center;
  }
  .bg-text ul {
    list-style-type: none;
  }

  .bg-text h1, h2, h3{
    text-align: center;
  } 


  .service-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    padding: 20px;
  }
  
  .service-card {
    position: relative;
    width: 100%;
    height: 200px;
    border-radius: 50PX;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out; /* אנימציה חלקה */
  }
  
  .service-card:hover {
    transform: scale(1.05); /* הגדלה של 5% */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
  }

  /* הקטנת שאר הכרטיסים */
.service-container:hover .service-card:not(:hover) {
  transform: scale(0.95);
  opacity: 0.7;
}

  .service-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .service-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* שכבה כהה */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    text-align: center;
  }

  .call-button img {
    width: 50px;
    height: 50px;

  }
 
  
  .contact-container {
    text-align: center;
    margin-top: 20px;
  }
  
  .contact-title {
    color: yellow;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .buttons-wrapper {
    display: flex;
    justify-content: center;
    gap: 16px; /* ריווח בין הכפתורים */
  }
  
  .call-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 100px;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .call-button img {
    width: 100px;
    height: 100px;
  }
  
  /* סגנון לכפתור הטלפון */
  .call-button[href^="tel"] {
    background: none; /* צהוב */
  }
  
  /* סגנון לכפתור וואטסאפ */
  .call-button[href^="https://wa.me"] {
    background: none /* ירוק */
  }

  /* סגנון לכפתור הטלפון */
  .call-button[href^="https://instagram"] {
    background: none; /* צהוב */
  }
  
  /* סגנון לכפתור וואטסאפ */
  .call-button[href^="https://facebook"] {
    background: none; /* ירוק */
  }
  .call-button[href^="https://tiktok"] {
    background: none; /* ירוק */
  }
  
  /* אפקט כשהעכבר מעל */
  .call-button:hover {
    transform: scale(1.1);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
  }
  
  /* אפקט לחיצה */
  .call-button:active {
    transform: scale(0.95);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  }
  
@media  screen and (min-width: 321px) and (max-width:960px){

  .service-title {
    color: YELLOW;
    margin-right: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
  }

  .call-button{
    width: 40% ;
    height: 40%;
  }
  .call-button img{
    width: 70% ;
    height: 70%;
  }
  
}
@media screen and (min-width: 720px){
  .service-title {
    color: YELLOW;
    font-size: 50px;
    font-weight: bold;
    line-height: 1.5;
  }

  
}